<%- include('../partials/header.ejs') %>
<h1 class="card-title text-center text-dark">Add Brand Data</h1>
   <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body form-style">
          <form class="forms-sample mb-3" id="addBrandForm" method="POST">
            <div class="form-group">
              <label for="exampleInputName1">Brand Name</label>
              <input type="text" class="form-control" id="brandname" placeholder="Brand Name" name="brandName">
              <p class="text-danger ml-2" name="validate-brand"></p>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Image</label>
              <input type="file" class="form-control" id="brandImageUpload" name="brandImage"  accept="image/*" >
              <p class="text-danger ml-2" name="validate-brand"></p>
              <div  class="ml-3" style="display: none;" id="brandAddImgDiv">
                <img class="image-section brand-image" id="brand-img-view" src="" alt="brand Image File">
                <button type="click" class="mt-2 bg-transparent addBrandCropBtn ml-auto" id="brandCropModalView"><i class="mdi mdi-crop"></i> Crop</button>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2" id="brandsubmit">Submit</button>
            <button class="btn btn-dark" onclick="formReset('addBrandForm')">Cancel</button> 
          </form>
          <div class="" role="alert" id="brand-submit-result">
          </div>
        </div>
      </div>
    </div> 
    
    <div class="modal w-100" id="brandCropModal">
      <div class="modal-dialog modal-dialog-centered w-100">
        <div class="modal-content bg-white" style="height: 400px;">
            <button type="button" class="close bg-white" onclick="brandImageCropClose()"><span aria-hidden="true">&times;</span></button>
            <div class="d-flex justify-content-center m-2 ">
              <button type="button" class="btn mt-2 text-dark addBrandCropBtn " id="cropResult" style=" box-shadow: 0 3px 10px rgb(0, 0, 0,0.5); border: 1px dashed #000; border-radius: 4px;"><i class="mdi mdi-crop"></i> Crop</button>
            </div>
            <img id="croppingImageView" src="" alt="" style="height:auto; object-fit: cover;">

          </div>
        </div>
      </div>
    </div>
<%- include('../partials/footer.ejs') %>
