<%- include('../partials/header.ejs') %>
<h1 class="card-title text-center text-dark">Add Brand Data</h1>
   <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body form-style">
          <!-- <p class="card-description" id="categorysuccess"></p> -->
          <form class="forms-sample mb-3" id="addBrandForm" method="POST">
            <div class="form-group">
              <label for="exampleInputName1">Brand Name</label>
              <input type="text" class="form-control" id="brandname" placeholder="Brand Name" name="brandName">
            </div>
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Image</label>
              <input type="file" class="form-control" id="brandImage" name="brandImage" accept="image/*" onchange="imageView(this)">
              <div  class="ml-3">
                <img class="image-section brand-image" id="brand-img-view" src="" alt="brand Image File">
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2" id="brandsubmit">Submit</button>
            <button class="btn btn-dark" onclick="formReset('addBrandForm')">Cancel</button> 
          </form>
          <div class="" role="alert" id="brand-submit-result">
          </div>
        </div>
      </div>
    </div>                                                                                                                                                                                                   
    <%- include('../partials/footer.ejs') %>
