<h1 class="card-title text-center text-dark">Add Coupon</h1>
   <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body form-style d-flex justify-content-center ">
          <form class="forms-sample mt-3 mb-3 w-50" id="addCouponForm" method="POST">
            <div class="" role="alert" id="coupon-submit-result">
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Coupon Name</label>
              <input type="text" class="form-control" id="couponName" placeholder="coupon name" name="couponName">
              <p class="text-danger ml-2" name="validate-coupon"></p>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Minimum Purchase</label>
              <input type="number" class="form-control" id="minimumPurchase" placeholder="minimum purchase" name="minimumPurchase">
              <p class="text-danger ml-2" name="validate-coupon"></p>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Offer Percentage</label>
              <input type="number" class="form-control" id="OfferPercentage" placeholder="offer percentage" name="OfferPercentage" min="1" max="99">
              <p class="text-danger ml-2" name="validate-coupon"></p>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Start Date</label>
              <input type="date" class="form-control" id="startDate" placeholder="coupon start date" name="couponStartDate">
              <p class="text-danger ml-2" name="validate-coupon"></p>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">End Date</label>
              <input type="date" class="form-control" id="endDate" placeholder="coupon end date" name="couponEndDate">
              <p class="text-danger ml-2" name="validate-coupon"></p>
            </div>
            
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="submit" class="btn btn-dark mr-2">Cancel</button>
          </form>
        </div>

        
      </div>
      </div>
    </div>   
    
    
    <!-- MODAL FOR IMAGE CROPPING  -->
    <div class="modal w-100" id="addBanner-cropper-modal">
      <div class="modal-dialog modal-dialog-centered w-100">
        <div class="modal-content bg-white" style="height: 400px;">
            <button type="button" class="close bg-white" onclick="addBannerCropperClose()"><span aria-hidden="true">&times;</span></button>
            <div class="d-flex justify-content-center m-2 ">
              <button type="button" class="btn mt-2 text-dark addBrandCropBtn " id="bannerCropResult" style=" box-shadow: 0 3px 10px rgb(0, 0, 0,0.5); border: 1px dashed #000; border-radius: 4px;"><i class="mdi mdi-crop"></i> Crop</button>
            </div>
            <img id="addBanner-cropper-Image" src="" alt="" style="height:auto; object-fit: cover;">

          </div>
        </div>
      </div>
    </div>