<h1 class="card-title text-center text-dark">Add Category Data</h1>
   <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body form-style">
          <!-- <p class="card-description" id="categorysuccess"></p> -->
          <form class="forms-sample mb-3" id="addCategoryForm" method="POST">
            <div class="form-group">
              <label for="exampleInputName1">Category Name</label>
              <input type="text" class="form-control" id="categoryname" placeholder="Category Name" name="categoryname">
              <p class="text-danger ml-2" name="validate-category"></p>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Image</label>
              <input type="file" class="form-control" id="categoryImage" name="categoryImage" accept="image/*" onchange="categoryImageView(this)">
              <p class="text-danger ml-2" name="validate-category"></p>
              <div  class="ml-3" id="addCategoryImagePreview" style="display: none;">
                <img class="category-image" id="category-img-view" src="" alt="Category Image File">
                <button type="click" class="mt-2 bg-transparent addBrandCropBtn ml-auto" id="addCategory-CropperWindowView"><i class="mdi mdi-crop"></i> Crop</button>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">Description</label>
              <textarea class="form-control" id="category-description" rows="4" name="description" placeholder="Category Description"></textarea>
              <p class="text-danger ml-2" name="validate-category"></p>
            </div>
            <button type="submit" class="btn btn-primary mr-2" id="categorysubmit">Submit</button>
            <a href="/admin/home" class="btn btn-dark">Cancel</a> 
          </form>
          <div class="" role="alert" id="category-submit-result">
          </div>
        </div>
      </div>
    </div>   
    
    
    <!-- MODAL FOR IMAGE CROPPING  -->
    <div class="modal w-100" id="addCategory-cropper-modal">
      <div class="modal-dialog modal-dialog-centered w-100">
        <div class="modal-content bg-white" style="height: 400px;">
            <button type="button" class="close bg-white" onclick="addCategoryCropperClose()"><span aria-hidden="true">&times;</span></button>
            <div class="d-flex justify-content-center m-2 ">
              <button type="button" class="btn mt-2 text-dark addBrandCropBtn " id="cropResult" style=" box-shadow: 0 3px 10px rgb(0, 0, 0,0.5); border: 1px dashed #000; border-radius: 4px;"><i class="mdi mdi-crop"></i> Crop</button>
            </div>
            <img id="addCategory-cropper-Image" src="" alt="" style="height:auto; object-fit: cover;">

          </div>
        </div>
      </div>
    </div>

