<div class="col-12 grid-margin mt-5 addproductpage">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Product</h4>
      <div class="">
        <form id="addProduct-form">
          <p class="card-description">  </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-form-label">Product Name</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="productname" id="productname" >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-form-label" onclick="hello()">Category</label>
                <div class="col-sm-12">
                  <div class="multiselect">
                    <div class="select-box form-control" id="select-box">
                        <div class="selected-options" id="productcategory">Select options</div>
                        <div class="arrow">&#9660;</div>
                    </div>
                    <div class="options-container" id="options-container">
                        <% for(let i=0;i<data.length;i++){ %>
                        <div class="option">
                            <label><input type="checkbox" class="option-input" value="<%= data[i].categoryname %>"><%= data[i].categoryname %></label>
                        </div>
                        <% } %>
                    </div>
                </div>
            
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-sm-12 col-form-label">Description</label>
                <div class="col-sm-12">
                  <textarea class="form-control" id="productdescription" rows="4" name="description"></textarea>
                </div>
              </div>
            </div>
          </div>
           
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Brand Name</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="brandname" id="productbrandname">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="stock" id="productstock">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-12">
                  <input type="number" class="form-control" name="price" id="productprice">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Size</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="size" id="productsize">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Material</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="material" id="productmaterial">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Color</label>
                <div class="col-sm-2 rounded-3">
                  <input type="color" class="form-control pt-2 pb-2 color-addproduct" id="productcolor" value="#00ff37" title="Choose product color" name="color">
                </div>
              </div>
            </div>
          </div>
          <div id="image-product-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-12">
                  <input type="file" class="form-control" id="productImage_1" name="productImage" accept="image/*">
                </div>
                <div  class="ml-3 image-addproduct-div" >
                  <img class="image-addproduct" id="imageProduct-1" src="" alt="Upload the file">
                </div>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">*</label>

                <div class="col-sm-12">
                  <input type="file" class="form-control" id="productImage_2" name="productImage" accept="image/*">
                </div>
                <div class="ml-3 image-addproduct-div" >
                  <img class="image-addproduct" id="imageProduct-2" src="" alt="Upload the file">
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Image</label>

                <div class="col-sm-12">
                  <input type="file" class="form-control" id="productImage_3" name="productImage" accept="image/*">
                </div>

                <div class="ml-3 image-addproduct-div">
                  <img class="image-addproduct"id="imageProduct-3" src="" alt="Upload the file">
                </div>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">*</label>

                <div class="col-sm-12">
                  <input type="file" class="form-control" id="productImage_4" name="productImage" accept="image/*">
                </div>

                <div class="ml-3 image-addproduct-div">
                  <img class="image-addproduct" id="imageProduct-4" src="" alt="Upload the file">
                </div>

              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-sm-12 col-form-label">Specifications</label>
                <div class="col-sm-12">
                  <textarea class="form-control" id="productspecification" rows="4" name="specifications" placeholder="*specifications seprated using commas"></textarea>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary mr-3 ml-3" id="product-submit">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
        <p id="product-sucess" class="mt-4 ml-3"></p>
      </div>
    </div>
    </div>
  </div>
