<div class="col-12 grid-margin mt-5 addproductpage">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Product</h4>
      <div class="">
        <form class="form-sample">
          <p class="card-description">  </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-form-label">Product Name</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="product-name">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-12">
                  <div class="multiselect">
                    <div class="select-box" onclick="showOptions()">
                        <div class="selected-options">Select options</div>
                        <div class="arrow">&#9660;</div>
                    </div>
                    <div class="options-container" id="options-container">
                        <div class="option">
                            <label><input type="checkbox" class="option-input" value="Option 1"> Option 1</label>
                        </div>
                        <div class="option">
                            <label><input type="checkbox" class="option-input" value="Option 2"> Option 2</label>
                        </div>
                        <div class="option">
                            <label><input type="checkbox" class="option-input" value="Option 3"> Option 3</label>
                        </div>
                    </div>
                </div>
            
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-sm-12 col-form-label">Description</label>
                <div class="col-sm-12">
                  <textarea class="form-control" id="exampleTextarea1" rows="4" name="description"></textarea>
                </div>
              </div>
            </div>
          </div>
           
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Brand Name</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="brandname">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="stock">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="price">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Size</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="size">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Material</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="material">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Color</label>
                <div class="col-sm-2 rounded-3">
                  <input type="color" class="form-control form-control-color pt-2 pb-2" id="productColor" value="#ffffff" title="Choose product color" name="color">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Image</label>
                <div  class="ml-3" style="width: 100px; height: 100px; background-color: aqua;">

                </div>
                <div class="col-sm-12">
                  <input type="file" class="form-control" id="customFile" name="image1">
                </div>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label"></label>
                <div class="ml-3" style="width: 100px; height: 100px; background-color: aqua;">

                </div>
                <div class="col-sm-12">
                  <input type="file" class="form-control" id="customFile" name="image2">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label">Image</label>
                <div class="ml-3" style="width: 100px; height: 100px; background-color: aqua;">

                </div>
                <div class="col-sm-12">
                  <input type="file" class="form-control" id="customFile" name="image3">
                </div>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="col-sm-3 col-form-label"></label>
                <div class="ml-3" style="width: 100px; height: 100px; background-color: aqua;">

                </div>
                <div class="col-sm-12">
                  <input type="file" class="form-control" id="customFile" name="3">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-sm-12 col-form-label">Specifications</label>
                <div class="col-sm-12">
                  <textarea class="form-control" id="exampleTextarea1" rows="4" name="Specifications" placeholder="*specifications seprated using commas"></textarea>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mr-3 ml-3">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
    </div>
  </div>
