<h1 class="card-title text-center text-dark">Edit Category Details</h1>
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body form-style">
      <form class="forms-sample mb-3" id="editCategoryForm" method="POST">
        <div class="form-group">
          <label for="exampleInputName1">Category Name</label>
          <input type="text" class="form-control" id="categoryname" placeholder="Category Name" name="categoryname" value="<%= data.categoryname %>">
          <input type="hidden" id="oldCategory" name="oldCategoryName" value="<%= data.categoryname %>">
      </div>
        <div class="form-group">
          <label for="exampleTextarea1">Description</label>
          <textarea class="form-control" id="category-description" rows="4" name="description" ><%= data.description %></textarea>
        </div>
        <input type="hidden" id="categoryid" name="categoryid" value="<%= data._id %>">
        <button type="submit" class="btn btn-primary mr-2" id="categorysubmit">Submit</button>
        <button class="btn btn-dark" >Cancel</button>
      </form>
      <div class="" role="alert" id="category-submit-result">
      </div>
    </div>
  </div>
</div>
<script src="/public/admin/js/editCategory.js"></script>

