<%- include('../partials/header.ejs') %>
<h1 class="card-title text-center text-dark">Brand Details</h1>
    <div class="col-12 grid-margin stretch-card" id="userview">
    <div class="card card-div">
      <div class="card-body  mt-5">
        <div class="d-grid gap-4 d-md-flex justify-content-md-end mb-2 search align-items-center">
          <a href="" target="_self" rel="noopener noreferrer" class="btn btn-primary" ><span>Add Brand</span></a>
          <input type="text" class="form-control col-3 mr-2 " id="categorySearch" placeholder="User Search" name="categorySearch">
          <button type="button" class="btn btn-search p-2" onclick="searchUser()"><i class="bi bi-search"></i></button>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Brand Name</th>
                <th>Logo</th>
                <th>Edit</th>
                
              </tr>
            </thead>
            <tbody class="text-white">
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modal" style="display: none; width: 23rem;margin-right: 50%;margin-left: 40%; margin-top:3rem;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">User Block/Unblock</h5>
        <button class="btn btn-transparent" onclick="back()"><i class="bi bi-x"></i></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel" onclick="back()">Cancel</button>
        <button type="button" class="btn btn-primary" id="user-sucess" data-category-id="" onclick="userBlock()">OK</button>
      </div>
    </div>
  </div>
  </div>
<%- include('../partials/footer.ejs') %>