
  <div class="col-12">
    <div class="card border">
      <div class="card-body  mt-5">
        <div class="pl-4 pt-4 pr-4 pb-1">
          <ul type="none">
              <div class="d-flex mt-4">
                  <li class="order-manage-li">Order Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><span class=" ml-5">: &nbsp;666</span>
              </div>
              <div class="d-flex mt-1">
                  <li class="order-manage-li">Placed On &nbsp;&nbsp;&nbsp;</li><span class=" ml-5">: &nbsp;hhjhhh</span>
              </div>
              <div class="d-flex mt-2 ">
                  <li class="order-manage-li mt-1">Shipping Address &nbsp; : </li>&nbsp; 
                  <div class="mt-2">
                      <h5>  &nbsp;fehgfrk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 459439759743</h5>
                      <p class="ml-1">fgfgfdg , dfgdgfd, gdffd , fgfdgfdgd<br>
                      fgfdgdg</p>
                  </div>
              </div>
              <div class="d-flex mt-1">
                  <li class="order-manage-li">Payment Method &nbsp;&nbsp;</li><span class="">: &nbsp;fggfdgd</span>
              </div>
              <div class="d-flex mt-2">
                  <li class="order-manage-li">Price  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><span class=" ml-5"> : &nbsp;<i class="bi bi-currency-rupee"></i> fsdfsdfa</span>
              </div>
          </ul>
      </div>
      <hr style="border: none; border-top: 3px solid #F5F5F9;">
        <h2 class="card-title text-center font-weight-blod">Invoice</h2>
        <div class="d-flex ml-5">
          <div class="mr-5 mb-5">
            <h5 class="font-weight-blod">Shipping Address</h5>
            gfdgd
            fd
          </div>
          <div class="ml-5">
            <h5 class="font-weight-blod">Billing Address</h5>
            fggdgsdf
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Qty</th>
                <th>Product Price</th>
                <th>Total Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td colspan="2"><span class="font-weight-blod">Total Qunatity : </span></td>
                <td colspan="3"></td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <img src="/public/admin/assets/images/logoMaleFashion.png" style="width: 200px; height: 200px;" alt="">
          </div>
        </div>
      </div>
  </div>
