<% if( locals.admin ? admin : false) { %>
    </div>
    </div>
    </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © UNLIMITED.com
                2023</span>
            <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span> -->
        </div>
    </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <script src="/public/admin/js/main/main.js"></script>
    <script src="/public/admin/js/fetch.js"></script>
    <script src="/public/admin/js/user/user.js"></script>
    <script src="/public/admin/js/product/viewproduct.js"></script>
    <script src="/public/admin/js/product/addProduct.js"></script>
    <script src="/public/admin/js/product/editProduct.js"></script>
    <script src="/public/admin/js/category/viewCategory.js"></script>
    <script src="/public/admin/js/banner/banner.js"></script>
    <script src="/public/admin/js/brand/brand.js"></script>
    <script src="/public/admin/js/brand/editBrand.js"></script>
    <script src="/public/admin/js/brand/addBrand.js"></script>
    <script src="/public/admin/js/coupon/coupon.js"></script>
    <script src="/public/admin/js/offer/offer.js"></script>
    <script src="/public/admin/js/order/manageOrder.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Cropper Js -->
    <script src="/node_modules/cropperjs/dist/cropper.min.js"></script>


    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/asserts/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/asserts/vendors/chart.js/Chart.min.js"></script>
    <script src="/asserts/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/asserts/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/asserts/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/asserts/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/asserts/js/off-canvas.js"></script>
    <script src="/asserts/js/hoverable-collapse.js"></script>
    <script src="/asserts/js/misc.js"></script>
    <script src="/asserts/js/settings.js"></script>
    <script src="/asserts/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/asserts/js/dashboard.js"></script>
    <!-- Include SheetJS library -->
    <!-- Include jspdf library -->

    <!-- SAles Report Download -->
    <!-- Include jspdf library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <!-- Include jspdf-autotable library AFTER jspdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.6.3/jspdf.plugin.autotable.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script src="/public/admin/js/salesReport/salesReport.js"></script>
    <!-- End custom js for this page -->
    <% }else if(locals.style ? style : false) { %>
        <script src="/public/admin/js/login/validate.js"></script>
    <% } else if(locals.user ? user : false) {%>


        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <a href="#"><img src="/public/user/img/footer-logo.png" alt=""></a>
                            </div>
                            <p>The customer is at the heart of our unique business model, which includes design.</p>
                            <a href="#"><img src="/public/user/img/payment.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h6>Shopping</h6>
                            <ul>
                                <li><a href="/allproductview">Clothing Store</a></li>
                                <li><a href="/categoryproductview?id=6538bdfeb9d241bcc58a8104">Trending Shirts</a></li>
                                <li><a href="/api/cart">Cart</a></li>
                                <li><a href="/api/viewWishlist">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h6>About</h6>
                            <ul>
                                <li><a href="/userprofile">User Profile</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                                <li><a href="/about">About</a></li>
                                <!-- <li><a href="#">Return & Exchanges</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                        <div class="footer__widget">
                            <h6>Complint</h6>
                            <div class="footer__newslatter">
                                <p>If there any issue.Complint to Admin</p>
                                <form action="#">
                                    <input type="text" placeholder="Your email">
                                    <button type="submit"><span class="icon_mail_alt"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="footer__copyright__text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p>Copyright ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                All rights reserved | This is made with <i class="fa fa-heart-o"
                                    aria-hidden="true"></i> by <a href="#"
                                    target="_blank">Male Fashion.</a>
                            </p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->





        <script src="/public/user/js/DesignModel/jquery-3.3.1.min.js"></script>
        <script src="/public/user/js/DesignModel/bootstrap.min.js"></script>
        <script src="/public/user/js/DesignModel/jquery.nice-select.min.js"></script>
        <script src="/public/user/js/DesignModel/jquery.nicescroll.min.js"></script>
        <script src="/public/user/js/DesignModel/jquery.magnific-popup.min.js"></script>
        <script src="/public/user/js/DesignModel/jquery.countdown.min.js"></script>
        <script src="/public/user/js/DesignModel/jquery.slicknav.js"></script>
        <script src="/public/user/js/DesignModel/mixitup.min.js"></script>
        <script src="/public/user/js/DesignModel/owl.carousel.min.js"></script>
        <script src="/public/user/js/DesignModel/main.js"></script>



        <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>

        <script src="/public/user/js/Home/product.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="/public/user/js/Home/userProfile.js"></script>
        <script src="/public/user/js/Home/address.js"></script>
        <script src="/public/user/js/Cart/cart.js"></script>
        <script src="/public/user/js/CheckOut/checkOut.js"></script>
        <script src="/public/user/js/CheckOut/checkoutAddress.js"></script>
        <script src="/public/user/js/Order/order.js"></script>
        <script src="/public/user/js/Wishlist/wishlist.js"></script>
        <script src="/public/user/js/Order/orderFilter.js"></script>
        <script src="/public/user/js/Product/productFilter.js"></script>
        <script src="/public/user/js/Wallet/wallet.js"></script>
        <script src="/public/user/js/Rating/rating.js"></script>

        <% }else{ %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
            <script src="/public/user/js/Login/validate.js"></script>
            <script src="/public/user/js/Login/userauthentication.js"></script>
        <% } %>
</body>

</html>