<% if( locals.admin ? admin : false) { %>
   </div>
    </div>
    </div>
    </div>
        
        <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © UNLIMITED.com 2023</span>
              <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span> -->
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script src="/public/admin/js/fetch.js"></script>
    <script src="/public/admin/js/user/user.js"></script>
    <script src="/public/admin/js/product/viewproduct.js"></script>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/asserts/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/asserts/vendors/chart.js/Chart.min.js"></script>
    <script src="/asserts/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/asserts/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/asserts/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/asserts/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/asserts/js/off-canvas.js"></script>
    <script src="/asserts/js/hoverable-collapse.js"></script>
    <script src="/asserts/js/misc.js"></script>
    <script src="/asserts/js/settings.js"></script>
    <script src="/asserts/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/asserts/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <% } else if(locals.user ? user : false) {%>
      

      <!-- Footer Section Begin -->
      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/public/user/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/public/user/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->





      <script src="/public/user/js/jquery-3.3.1.min.js"></script>
      <script src="/public/user/js/bootstrap.min.js"></script>
      <script src="/public/user/js/jquery.nice-select.min.js"></script>
      <script src="/public/user/js/jquery.nicescroll.min.js"></script>
      <script src="/public/user/js/jquery.magnific-popup.min.js"></script>
      <script src="/public/user/js/jquery.countdown.min.js"></script>
      <script src="/public/user/js/jquery.slicknav.js"></script>
      <script src="/public/user/js/mixitup.min.js"></script>
      <script src="/public/user/js/owl.carousel.min.js"></script>
      <script src="/public/user/js/main.js"></script>
    <% }else{ %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="/public/user/js/validate.js"></script>
    <% } %>
    </body>
</html>