<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= locals.title ? title : 'error' %></title>
    <!-- plugins:css -->

    <% if(locals.user ? user : false) { %>
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="/public/user/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/public/user/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/public/user/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/public/user/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/public/user/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/public/user/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/public/user/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/public/user/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">


    <% }else if(admin || (locals.style ? style : false)) { %>
    <!-- side bar icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/asserts/vendors/mdi/css/materialdesignicons.min.css">

    <!-- Cropperjs -->
    <link rel="stylesheet" href="/node_modules/cropperjs/dist/cropper.min.css">


    <link rel="stylesheet" href="/asserts/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/asserts/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/asserts/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/asserts/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/asserts/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/asserts/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/asserts/images/favicon.png" />
    <% }else{ %>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="/public/user/css/my-login.css">
     
    <% } %>
  </head>
  <body>
    <% if(locals.admin ? admin : false ){ %>
    <div class="container-scroller">
      <%- include('../partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper dynamic_content">
        <%- include('../partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper" id="dynamic_page">
    <% } %>
    
    