<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="/admin/home"><img src="/asserts/images/logo.svg" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/asserts/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <div style="position: fixed;">
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="/asserts/images/faces/face15.jpg" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal"><%= locals.name ? name :'' %></h5>
            <span>Gold Member</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/admin/home">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="/admin/userlist">
        <span class="menu-icon">
          <i class="mdi mdi-account-multiple"></i>
        </span>
        <span class="menu-title">Users</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#product" aria-expanded="false" aria-controls="product">
        <span class="menu-icon">
          <i class="mdi mdi-cart"></i>
        </span>
        <span class="menu-title">Products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="product">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> 
            <button class="nav-link bg-dark w-100" id="view-productlist">
              <span class="menu-icon">
                <i class="mdi mdi-cart"></i>
              </span>
              <span class="menu-title">Products</span>
            </button>
          </li>
          <li class="nav-item menu-items">
            <!-- <a class="nav-link" href="/admin/addproduct"> -->
              <button class="nav-link bg-dark w-100" id="add-product">
              <span class="menu-icon">
                <i class="mdi mdi-cart-plus"></i>
              </span>
              <span class="menu-title">Add Products</span>
            </button>
            <!-- </a> -->
          </li>
      
          <li class="nav-item menu-items">
            <button class="nav-link bg-dark w-100" id="edit-product">
              <span class="menu-icon">
                <i class="mdi mdi-pencil-box-outline"></i>
              </span>
              <span class="menu-title">Edit Products</span>
            </button>
          </li>
          
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#category" aria-expanded="false" aria-controls="category">
        <span class="menu-icon">
          <i class="mdi mdi-view-grid"></i>
        </span>
        <span class="menu-title">Category</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="category">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item menu-items">
            <button class="nav-link bg-dark w-100" id="category-list">
              <span class="menu-icon">
                <i class="mdi mdi-view-grid"></i>
              </span>
              <span class="menu-title">Category</span>
            </button>
          </li>

          <li class="nav-item menu-items">
            <button class="nav-link bg-dark w-100" id="add-category">
              <!-- <a href="/admin/addcategory"> -->
              <span class="menu-icon">
                <i class="mdi mdi-library-plus"></i>
              </span>
              <span class="menu-title">Add Category</span>
            <!-- </a> -->
            </button>
          </li>
      
          <li class="nav-item menu-items">
            <button class="nav-link bg-dark w-100" id="edit-category">
              <span class="menu-icon">
                <i class="mdi mdi-pencil-box-outline"></i>
              </span>
              <span class="menu-title">Edit Category</span>
            </button>
          </li>
          
        </ul>
      </div>
    </li>


    <!-- <li class="nav-item menu-items">
      <a class="nav-link" href="/admin/productlist">
        <span class="menu-icon">
          <i class="mdi mdi-cart"></i>
        </span>
        <span class="menu-title">Products</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="/admin/addproduct">
        <span class="menu-icon">
          <i class="mdi mdi-cart-plus"></i>
        </span>
        <span class="menu-title">Add Products</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="/admin/editproduct">
        <span class="menu-icon">
          <i class="mdi mdi-pencil-box-outline"></i>
        </span>
        <span class="menu-title">Edit Products</span>
      </a>
    </li> -->

    

    

    
    

    <li class="nav-item menu-items">
      <a class="nav-link" href="/admin/addbanner">
        <span class="menu-icon">
          <i class="mdi mdi-paperclip"></i>
        </span>
        <span class="menu-title">Add Banner</span>
      </a>
    </li>

    
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#coupon" aria-expanded="false" aria-controls="coupon">
        <span class="menu-icon">
          <i class="mdi mdi-gift"></i>
        </span>
        <span class="menu-title">Coupon</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="coupon">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item menu-items">
            <button class="nav-link bg-dark w-100" id="coupon-list">
              <span class="menu-icon">
                <i class="mdi mdi-gift"></i>
              </span>
              <span class="menu-title">Coupon</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <button class="nav-link bg-dark w-100" id="add-coupon">
              <span class="menu-icon">
                <i class="mdi mdi-library-plus"></i>
              </span>
              <span class="menu-title">Add Coupon</span>
            </button>
          </li>
      
          
        </ul>
      </div>
    </li>
    



    <li class="nav-item menu-items">
      <a class="nav-link" href="/admin/orderlist">
        <span class="menu-icon">
          <i class="mdi mdi-truck-delivery"></i>
        </span>
        <span class="menu-title">Order</span>
      </a>
    </li>

   
  </ul>
  <div></div>
</nav>