<%- include('../partials/header.ejs') %>
    <section class="my-login-page">
	<section class="login-MainSection">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="/public/user/img/logo.png" alt="bootstrap 4 login page">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title text-center ">Reset Password</h4>
							<h6 id="fogotPasswordResponse" class=""></h6>
							<form method="POST" class="my-login-validation mt-4" id="passwordChange" novalidate>
                                <input type="hidden" name="" value="<%= token %>" id="token">
								<div class="form-group">
									<label>New Password</label>
									<input id="newPassword" type="password" class="form-control" name="newPassword" value="">
									<span class="text-danger ml-2 validate" name="validate-forgotpassword" style="font-size: 13px;"></span>
								</div>

                                <div class="form-group">
									<label>Confirm Password</label>
									<input id="confirmPassword" type="password" class="form-control" name="confirmPassword" value="">
									<span class="text-danger ml-2 validate" name="validate-forgotpassword" style="font-size: 13px;"></span>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Change Password
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; MaleFashion 
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<%- include('../partials/footer.ejs') %>
