<%- include('../partials/header.ejs') %>
<section class="my-login-page">
	<section class="login-MainSection">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper otp-div">
					<div class="brand">
						<img src="/public/user/img/logo.png" alt="bootstrap 4 login page">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 data-timer="<%= locals.timer ? timer : '' %>" id="verify-heading" class="card-title text-center mb-4">OTP Verification</h4>
                            <div class="px-3 pb-3">
							    <!-- <h6 class="card-title text-center mb-1">OTP Verification</h6> -->
                                <p class="text-center">To continue, complete this verification step. We've sent an OTP to Your email. Please enter it below to complete verification.</p>
                            </div>
                            <h6 id="otp-response-message" class=""></h6>
							<form method="POST" class="my-login-validation" id="verificationOTP">
								<div class="form-group">
									<label for="new-password">Enter OTP</label>
									<input id="otp" type="text" class="form-control" placeholder="6 Digit OTP" name="otp">
								</div>

								<div class="form-group m-0 my-2">
									<button type="submit" id="verifyBtn" class="btn btn-primary btn-block">
										Verify
									</button>
								</div>
							</form>
						</div>
                        <p class="text-center">Not Receive the Code? <span id="timer"></span><span id="resend" style="display:none;"><a href='/resendotp' class="text-primary"> Resend OTP </a></span></p>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; MaleFashion 
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<%- include('../partials/footer.ejs') %>


