<div class="form sign-up">
    <div class="pt-3 pb-3">
        <h2>OTP Verification</h2>
    </div>
    <div class="input-group ">
        <span class="text-muted hint">Enter OTP</span>
        <input type="text" placeholder="Username" class="rounded-4" name="otpData">
    </div>
    <a class="button" href="">
        Sign Up
    </a>
</div>